.vjs-loading-spinner {
    background: url(https://www.smartclick.co.th/assets/images/logo.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: none !important;
    width: 350px !important;
    height: 100px !important;
    top: 40% !important;
    left: 40% !important;
}
.vjs-seeking .vjs-loading-spinner:before,
.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:after {
    -webkit-animation: none !important;
    animation: none !important;
}
