@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
body,
html {
    margin: 0%;
}

.contact-us {
    height: 39px;
    text-align: left;
    font: normal normal bold 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #1D1C1C;
    opacity: 1;
}

.address {
    width: 370px;
    height: 67px;
    text-align: left;
    font: normal normal bold 15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.styleform {
    width: auto;
    margin: auto;
    padding: 30px 0;
}

.headform {
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width: 151px;
    height: 40px;
    background: #7c7c7c;
    border-radius: 23px;
    opacity: 1;
}

input[type=submit]:hover {
    background-color: #cdd4cd;
}

.styleform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.submit {
    text-align: center;
}