.block {
    color: black;
    font-size: 30px;
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.line {
    display: flex;
    padding: 10 10 10 10;
}

.btn {
    border-radius: 20px;
    font-size: 12px;
}

.buttomsale {
    border-radius: 5px;
    font-size: 12px;
}

.block {
    color: black;
    font-size: 13px;
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.block1 {
    background-color: lightgray;
    color: black;
    font-size: 30px;
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.line {
    display: flex;
    padding-left: 10, 0;
}

.sociallist {
    float: left;
    display: flex;
}

.social {
    display: block;
    color: white;
    width: 41px;
    height: 41px;
    text-align: center;
    background-color: rgb(92, 92, 89);
    margin-right: 8px;
    border-radius: 50%;
    padding: 9px 0;
    transition: .3s;
}

.facebook-icon:hover {
    background-color: deepskyblue;
    color: white;
    border: 1px solid;
}

.instagram-icon:hover {
    background-color: rgb(201, 15, 108);
    color: white;
    border: 1px solid;
}

.line-icon:hover {
    background-color: rgb(0, 255, 64);
    color: white;
    border: 1px solid;
}

.footer {
    background-color: gray;
    color: white;
}

.slick-prev:before,
.slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-size: unset;
}

.slick-prev {
    color: #fff;
    font-size: 3rem;
    left: 40px;
    z-index: 900;
}

.slick-next {
    color: #fff;
    font-size: 3rem;
    right: 40px;
    z-index: 900;
}