@font-face {
	font-family: 'db_admanrounded_xbold';
	src: url('../fonts/font-face/db_admanrounded_x_bd_v3.2-webfont.woff2') format('woff2'),
	url('../fonts/font-face/db_admanrounded_x_bd_v3.2-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'db_adman_xlight';
	src: url('../fonts/font-face/db_adman_x_li_v3.2-webfont.woff2') format('woff2'),
	url('../fonts/font-face/db_adman_x_li_v3.2-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

.header {
  border-bottom: none;
}

.information {
  border-top: 6px solid #139fbe;
}

.gallery a .box-info {
	height: 280px;
}

.nav > li > a.active {
	color: #1488b8;
}

.bxslider .box-overlay {
	position: absolute;
	left: 0;
	top: 0;      /* Wenn Element position:absolute hat kann man es mit Top und Bottom = 0 auf die volle Höhe strecken */
	bottom: 0;
	z-index: 0;   /* Ein geringerer z-Index als bei der Textbox, um die Textbox über die Gerät-Box zu legen */
	width: 100%;     /* Weite in Prozentangaben um sie responsive zu machen. */
	background-color: rgba(0,0,0,0.2); /* RGBA-Wert für moderne Browser mit Tranparenz */
}

.navigation .box-overlay{
  position: absolute;
  left: 0;
  top: 0;      /* Wenn Element position:absolute hat kann man es mit Top und Bottom = 0 auf die volle Höhe strecken */
  bottom: 0;
  z-index: 0;   /* Ein geringerer z-Index als bei der Textbox, um die Textbox über die Gerät-Box zu legen */
  width: 100%;     /* Weite in Prozentangaben um sie responsive zu machen. */
  background-color: rgba(0,0,0,0.2); /* RGBA-Wert für moderne Browser mit Tranparenz */
}

.img-click {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-click:hover {
  opacity: 0.5;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.img-item {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: 180px;
}

.img-item:hover {
	opacity: 0.5;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.header .navigation {
  padding-bottom: 300px;
}

.gallery .btn-back {
	padding-top: 12px !important;
}

/*.slide-pane {
	left: unset !important;
	right: unset !important;
	margin: 0 !important;
  }*/

/*  .bx-wrapper .slider-desktop {
  	display: none;
  }
  .bx-wrapper .slider-mobile {
  	display: block;
  	}*/

  	.pl-0 {
  		padding-left: 0 !important;
  	}

    .pl-40 {
      padding-left: 40px !important;
    }

    .pb-10 {
      padding-bottom: 10px !important;
    }

    .btn-loadmore {
      background-color: #1488b8;
      border: none;
      height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: 'montserrat';
      font-weight: 400;
    }

    nav ul a, .nav > li > a, .header p.call {
      font-family: 'db_admanrounded_xbold';
      font-size: 20px;
    }

    .slider-pane {
      position: absolute;
      top: 35%;
      color: #fff;
      text-align: center;
    }

    .slider-pane.one {
      top: unset !important;
      bottom: 10% !important;
      left: 10%;
    }

    .slider-pane.two {
      top: unset !important;
      bottom: 10% !important;
      right: 10%;
    }

    .slider-pane.three {
      top: unset !important;
      bottom: 10% !important;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }


    .slider-pane h1 {
      font-family: 'db_admanrounded_xbold';
      font-size: 30px;
      text-align: center;
    }

    .slider-pane h5 {
      font-family: 'db_adman_xlight';
      font-size: 16px;
      text-align: center;
    }

    .box-info:hover {
      opacity: 0.8;
      transition: all 1s;
    }

    .gallery a:hover .box-info:before {
      top: 35%;
      border-radius: 10px; 
    }

    .gallery a .box-info {
      padding-bottom: 20px;
    }

    .profile {
      position: relative;
    }

    .profile:before {
      display: block;
      content: "";
      /*background-image: url(../img/prize1.png);*/
      background-repeat: no-repeat;
      width: 192px;
      height: 318px;
      position: absolute;
      bottom: 0;
      right: 15%;
      -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
    }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
      bottom: 10px !important;
    }
    .consult label, .consult input, .consult select, .consult textarea,  .consult input {
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .gallery a .box-info .box-info-sub .detail {
      padding-left: 10px !important;
    }


    @media only screen and (min-width: 1500px) {
      .header .navigation {
       padding-bottom: 450px;
     }
     .profile .box-profile .detail-profile p.detail {
      font-size: 30px;
    }
  }


  @media only screen and (max-width: 1500px) {
    .navigation-extra .logo-area, .navigation-inner .logo-area {
     padding-top: 15px;
   }
   .profile .box-profile .detail-profile p.name {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile .box-profile .detail-profile {
   padding-top: 0; 
 }
}

@media only screen and (max-width: 1000px) {
  nav ul a, .nav > li > a, .header p.call {
    font-size: 15px;
  }
}


@media only screen and (min-width: 767px) {
  .header .navigation-extra{
   background-color: #1f4e7a !important;
   opacity: 0.8;
   top: 0;
 }
 .header .navigation-extra .contact {
   padding-top: 15px;
   border-bottom: 1px solid #1b7694;
 }
 .header .navigation-extra .contact {
   padding-bottom: 10px;
 }
 .header .navigation .contact {
   padding-bottom: 10px;
 }
 .header .navigation-inner {
   background-color: #1f4e7a !important;
   opacity: 0.8;
 }
 .header .navigation-inner .contact {
   padding-top: 15px;
   border-bottom: 1px solid #1b7694;
 }
 .header .navigation {
   padding-top: 0;
 }
 .slider-pane h1 {
   font-size: 40px;
 }

 .slider-pane h5 {
   font-size: 26px;
 }
 .footer {
   padding-top: 30px;
   padding-bottom: 60px;
 }
 .slider-desktop {
  display: block;
}
.slider-mobile {
  display: none;
}
.bx-wrapper .bx-controls-direction a {
  margin-top: 10px !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
 top: 95% !important;
 transform: translateY(-95%);
}
.bx-wrapper .bx-pager {
  padding-top: 0 !important;
}
}

@media only screen and (max-width: 991px) {
  .gallery a .box-info {
    height: 180px;
  }
  .profile:before {
    background-size: 80%;
    bottom: -15%;
    right: 0;
  }
}


@media only screen and (max-width: 767px) {
  .title.arrow-down, .title.arrow-up {
   position: relative;
 }
 .footer ul.menu {
   display: none;
 }
 .footer {
   padding-top: 30px;
   padding-bottom: 50px;
 }
 .img-prize {
   margin-top: 10px;
 }
 .gallery a .box-info {
  height: auto;
}
.about-clinic select {
  margin-top: 15px;
}
.profile {
  padding-bottom: 150px;
}
.profile:before {
  background-size: 100%;
  bottom: 0;
  right: 15%;
}
.logo-area {
  display: none;
}
.slider-pane.one, .slider-pane.two, .slider-pane.three {
  top: unset !important;
  bottom: 10% !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 10px !important;
}
.slider-desktop {
  display: none;
}
.slider-mobile {
  display: block;
}
.content-menu {
  padding-left: 0 !important;
}
/*  	.title.arrow-down:before{
  		display: block;
  		content: "";
  		background: url(../img/arrow-down-white.png);
  		background-repeat: no-repeat;
  		width: 10px;
  		height: 10px;
  		position: absolute;
  		top: 5px;
  		left: 0;
  	}
  	.title.arrow-up:before  {
  		display: block;
  		content: "";
  		background: url(../img/arrow-up-white.png);
  		background-repeat: no-repeat;
  		width: 10px;
  		height: 10px;
  		position: absolute;
  		top: 5px;
  		left: 0;
  		}*/
  	}

    li.menu {
      margin-right: 10px;
    }

    @media only screen and (max-width: 1199px) {
     li.menu{
      margin-right: -6px;
    }
  }

  .language .dropdown-menu {
    padding: 8px 0 0 0 !important;
    margin: 0 !important;
    z-index: 100;
  }

  .language .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
  }

  li.language{
    padding-left: 0 !important;
    float: right;
  }

  .language .dropdown-menu > li > a {
    line-height: 1.4;
    font-weight: normal;
  }

  .header .navigation-extra li + li, .header .navigation li + li {
    padding-left: 10.5px;
  }


  @media only screen and (max-width: 991px) {
    .header .navigation-extra li + li, .header .navigation li + li {
      padding-left: 3px;
    }
  }

  .open-nav {
    max-height: 450px !important;
  }

  @media only screen and (max-width: 767px) {
   .language .bootstrap-select > .dropdown-toggle{
    font-size: 12px;
  }
}

.language-group {
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 767px) {
   .language-group {
    margin-top: 10px;
  }
}

.btn-language.active{
  color: #94c5d6;
}




