/* ========================================================
*
* Amsterdam - premium admin template
*
* ========================================================
*
* File: elfinder.css;
* Description: Elfinder - styles for file manager
* Version: 1.0
* Plugin version: Version 2.0 rc1 (2012-04-10)
*
* ======================================================== */


.elfinder-dialog-resize{margin-top:.3em}
.elfinder-resize-type{float:left;margin-bottom:.4em}
.elfinder-resize-control{padding-top:3em}
.elfinder-resize-control input[type=text]{border:1px solid #aaa;text-align:right}
.elfinder-resize-preview{width:400px;height:400px;padding:10px;background:#fff;border:1px solid #aaa;float:right;position:relative;overflow:auto}
.elfinder-resize-handle{position:relative}
.elfinder-resize-handle-hline,.elfinder-resize-handle-vline{position:absolute;background-image:url("../image/elfinder/crop.gif")}
.elfinder-resize-handle-hline{width:100%;height:1px!important;background-repeat:repeat-x}
.elfinder-resize-handle-vline{width:1px!important;height:100%;background-repeat:repeat-y}
.elfinder-resize-handle-hline-top{top:0;left:0}
.elfinder-resize-handle-hline-bottom{bottom:0;left:0}
.elfinder-resize-handle-vline-left{top:0;left:0}
.elfinder-resize-handle-vline-right{top:0;right:0}
.elfinder-resize-handle-point{position:absolute;width:8px;height:8px;border:1px solid #777;background:0 0}
.elfinder-resize-handle-point-n{top:0;left:50%;margin-top:-5px;margin-left:-5px}
.elfinder-resize-handle-point-ne{top:0;right:0;margin-top:-5px;margin-right:-5px}
.elfinder-resize-handle-point-e{top:50%;right:0;margin-top:-5px;margin-right:-5px}
.elfinder-resize-handle-point-se{bottom:0;right:0;margin-bottom:-5px;margin-right:-5px}
.elfinder-resize-handle-point-s{bottom:0;left:50%;margin-bottom:-5px;margin-left:-5px}
.elfinder-resize-handle-point-sw{bottom:0;left:0;margin-bottom:-5px;margin-left:-5px}
.elfinder-resize-handle-point-w{top:50%;left:0;margin-top:-5px;margin-left:-5px}
.elfinder-resize-handle-point-nw{top:0;left:0;margin-top:-5px;margin-left:-5px}
.elfinder-resize-spinner{position:absolute;width:200px;height:30px;top:50%;margin-top:-25px;left:50%;margin-left:-100px;text-align:center;background:url(../image/elfinder/progress.gif) center bottom repeat-x}
.elfinder-resize-row{margin-bottom:7px;position:relative}
.elfinder-resize-label{float:left;width:80px;padding-top:3px}
.elfinder-resize-reset{width:16px;height:16px;position:absolute;margin-top:-8px}
.elfinder-dialog .elfinder-dialog-resize .ui-resizable-e{height:100%;width:10px}
.elfinder-dialog .elfinder-dialog-resize .ui-resizable-s{width:100%;height:10px}
.elfinder-dialog .elfinder-dialog-resize .ui-resizable-se{background:0 0;bottom:0;right:0;margin-right:-7px;margin-bottom:-7px}
.elfinder-dialog-resize .ui-icon-grip-solid-vertical{position:absolute;top:50%;right:0;margin-top:-8px;margin-right:-11px}
.elfinder-dialog-resize .ui-icon-grip-solid-horizontal{position:absolute;left:50%;bottom:0;margin-left:-8px;margin-bottom:-11px}
.elfinder-resize-row .elfinder-buttonset{float:right}
.elfinder-resize-rotate-slider{float:left;width:195px;margin:7px 7px 0}
.elfinder-file-edit{width:99%;height:99%;margin:0;padding:2px;border:1px solid #ccc}
.elfinder-help{margin-bottom:.5em}
.elfinder-help .ui-tabs-panel{padding:.5em}
.elfinder-dialog .ui-tabs .ui-tabs-nav li a{padding:.2em 1em}
.elfinder-help-shortcuts{height:300px;padding:1em;margin:.5em 0;overflow:auto}
.elfinder-help-shortcut{white-space:nowrap;clear:both}
.elfinder-help-shortcut-pattern{float:left;width:160px}
.elfinder-help-logo{width:100px;height:96px;float:left;margin-right:1em;background:url('../image/elfinder/logo.png') center center no-repeat}
.elfinder-help h3{font-size:1.5em;margin:.2em 0 .3em}
.elfinder-help-separator{clear:both;padding:.5em}
.elfinder-help-link{padding:2px}
.elfinder-help .ui-priority-secondary{font-size:.9em}
.elfinder-help .ui-priority-primary{margin-bottom:7px}
.elfinder-help-team{clear:both;text-align:right;border-bottom:1px solid #ccc;margin:.5em 0;font-size:.9em}
.elfinder-help-team div{float:left}
.elfinder-help-license{font-size:.9em}
.elfinder-help-disabled{font-weight:700;text-align:center;margin:90px 0}
.elfinder-help .elfinder-dont-panic{display:block;border:1px solid transparent;width:200px;height:200px;margin:30px auto;text-decoration:none;text-align:center;position:relative;background:#d90004;-moz-box-shadow:5px 5px 9px #111;-webkit-box-shadow:5px 5px 9px #111;box-shadow:5px 5px 9px #111;background:-moz-radial-gradient(80px 80px,circle farthest-corner,#d90004 35%,#960004 100%);background:-webkit-gradient(radial,80 80,60,80 80,120,from(#d90004),to(#960004));-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;outline:none}
.elfinder-help .elfinder-dont-panic span{font-size:3em;font-weight:700;text-align:center;color:#fff;position:absolute;left:0;top:45px}

.elfinder{padding:0;position:relative;display:block}
.elfinder-rtl{text-align:right;direction:rtl}
.elfinder-workzone{padding:0;position:relative;overflow:hidden; border-top: 1px solid #d5d5d5;}
.elfinder-perms,.elfinder-symlink{position:absolute;width:16px;height:16px;background-image:url(../img/toolbar.png);background-repeat:no-repeat;background-position:0 -528px}
.elfinder-na .elfinder-perms{background-position:0 -96px}
.elfinder-ro .elfinder-perms{background-position:0 -64px}
.elfinder-wo .elfinder-perms{background-position:0 -80px}
.elfinder-drag-helper{width:60px;height:50px;padding:0 0 0 25px;z-index:100000}
.elfinder-drag-helper-icon-plus{position:absolute;width:16px;height:16px;left:43px;top:55px;background:url('../image/elfinder/toolbar.png') 0 -544px no-repeat;display:none}
.elfinder-drag-helper-plus .elfinder-drag-helper-icon-plus{display:block}
.elfinder-drag-num{position:absolute;top:0;left:0;width:16px;height:14px;text-align:center;padding-top:2px;font-size:12px;font-weight:700;color:#fff;background-color:red;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.elfinder-drag-helper .elfinder-cwd-icon{margin:0 0 0 -24px;float:left}
.elfinder-overlay{opacity:0;filter:Alpha(Opacity=0)}
.elfinder .elfinder-panel{position:relative;background-image:none;padding:7px 12px}
.elfinder-contextmenu,.elfinder-contextmenu-sub{display:none;position:absolute;border:1px solid #aaa;background:#fff;color:#555;padding:4px 0}
.elfinder-contextmenu-sub{top:5px}
.elfinder-contextmenu-ltr .elfinder-contextmenu-sub{margin-left:-5px}
.elfinder-contextmenu-rtl .elfinder-contextmenu-sub{margin-right:-5px}
.elfinder-contextmenu-item{position:relative;display:block;padding:4px 30px;text-decoration:none;white-space:nowrap;cursor:default}
.elfinder-contextmenu .elfinder-contextmenu-item span{font-size:.76em;display:block}
.elfinder-contextmenu-ltr .elfinder-contextmenu-item{text-align:left}
.elfinder-contextmenu-rtl .elfinder-contextmenu-item{text-align:right}
.elfinder-contextmenu-ltr .elfinder-contextmenu-sub .elfinder-contextmenu-item{padding-left:12px}
.elfinder-contextmenu-rtl .elfinder-contextmenu-sub .elfinder-contextmenu-item{padding-right:12px}
.elfinder-contextmenu-arrow,.elfinder-contextmenu-icon{position:absolute;top:50%;margin-top:-8px}
.elfinder-contextmenu-ltr .elfinder-contextmenu-icon{left:8px}
.elfinder-contextmenu-rtl .elfinder-contextmenu-icon{right:8px}
.elfinder-contextmenu-arrow{width:16px;height:16px;background:url('../image/elfinder/arrows-normal.png') 5px 4px no-repeat}
.elfinder-contextmenu-ltr .elfinder-contextmenu-arrow{right:5px}
.elfinder-contextmenu-rtl .elfinder-contextmenu-arrow{left:5px;background-position:0 -10px}
.elfinder-contextmenu .ui-state-hover{border:0 solid;background-image:none}
.elfinder-contextmenu-separator{height:0;border-top:1px solid #ccc;margin:0 1px}
.elfinder-cwd-wrapper{overflow:auto;position:relative;padding:5px 2px;margin:0; background: #FEFEFE;border-left: 1px solid #D5D5D5;}
.elfinder-cwd-wrapper-list{padding:0}
.elfinder-cwd{position:relative;font-size: 11px;;cursor:default;padding:0;margin:0;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;user-select:none}
.elfinder .elfinder-cwd-wrapper.elfinder-droppable-active{padding:0;border:2px solid #8cafed}
.elfinder-cwd-view-icons .elfinder-cwd-file{width:116px;height:80px;padding-bottom:2px;cursor:default;overflow:hidden}
.elfinder-ltr .elfinder-cwd-view-icons .elfinder-cwd-file{float:left;margin:0 3px 12px 0}
.elfinder-rtl .elfinder-cwd-view-icons .elfinder-cwd-file{float:right;margin:0 0 5px 3px}
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover{border:0 solid}
.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper{width:52px;height:52px;margin:1px auto;padding:2px;position:relative}
.elfinder-cwd-view-icons .elfinder-cwd-filename{text-align:center;white-space:pre;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;margin:3px 1px 0;padding:5px; line-height: 12px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.elfinder-cwd-view-icons .elfinder-perms{bottom:4px;right:2px}
.elfinder-cwd-view-icons .elfinder-symlink{bottom:6px;left:0}
.elfinder-cwd-icon{display:block;width:48px;height:48px;margin:2px auto;background:url('../image/elfinder/icons-big.png') 0 0 no-repeat;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
.elfinder-cwd .elfinder-droppable-active .elfinder-cwd-icon{background-position:0 -100px}
.elfinder-cwd-icon-directory{background-position:0 -50px}
.elfinder-cwd-icon-application{background-position:0 -150px}
.elfinder-cwd-icon-x-empty,.elfinder-cwd-icon-text{background-position:0 -200px}
.elfinder-cwd-icon-image,.elfinder-cwd-icon-vnd-adobe-photoshop,.elfinder-cwd-icon-postscript{background-position:0 -250px}
.elfinder-cwd-icon-audio{background-position:0 -300px}
.elfinder-cwd-icon-video,.elfinder-cwd-icon-flash-video{background-position:0 -350px}
.elfinder-cwd-icon-rtf,.elfinder-cwd-icon-rtfd{background-position:0 -401px}
.elfinder-cwd-icon-pdf{background-position:0 -450px}
.elfinder-cwd-icon-vnd-ms-office,.elfinder-cwd-icon-msword,.elfinder-cwd-icon-vnd-ms-word,.elfinder-cwd-icon-vnd-oasis-opendocument-text,.elfinder-cwd-icon-ms-excel,.elfinder-cwd-icon-vnd-ms-excel,.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet,.elfinder-cwd-icon-vnd-ms-powerpoint,.elfinder-cwd-icon-vnd-oasis-opendocument-presentation{background-position:0 -500px}
.elfinder-cwd-icon-html{background-position:0 -550px}
.elfinder-cwd-icon-css{background-position:0 -600px}
.elfinder-cwd-icon-javascript,.elfinder-cwd-icon-x-javascript{background-position:0 -650px}
.elfinder-cwd-icon-x-perl{background-position:0 -700px}
.elfinder-cwd-icon-x-python{background-position:0 -750px}
.elfinder-cwd-icon-x-ruby{background-position:0 -800px}
.elfinder-cwd-icon-x-sh,.elfinder-cwd-icon-x-shellscript{background-position:0 -850px}
.elfinder-cwd-icon-x-c,.elfinder-cwd-icon-x-csrc,.elfinder-cwd-icon-x-chdr,.elfinder-cwd-icon-x-c--,.elfinder-cwd-icon-x-c--src,.elfinder-cwd-icon-x-c--hdr,.elfinder-cwd-icon-x-java,.elfinder-cwd-icon-x-java-source{background-position:0 -900px}
.elfinder-cwd-icon-x-php{background-position:0 -950px}
.elfinder-cwd-icon-xml{background-position:0 -1000px}
.elfinder-cwd-icon-zip,.elfinder-cwd-icon-x-zip,.elfinder-cwd-icon-x-7z-compressed{background-position:0 -1050px}
.elfinder-cwd-icon-x-gzip,.elfinder-cwd-icon-x-tar{background-position:0 -1100px}
.elfinder-cwd-icon-x-bzip,.elfinder-cwd-icon-x-bzip2{background-position:0 -1150px}
.elfinder-cwd-icon-x-rar,.elfinder-cwd-icon-x-rar-compressed{background-position:0 -1200px}
.elfinder-cwd-icon-x-shockwave-flash{background-position:0 -1250px}
.elfinder-cwd-icon-group{background-position:0 -1300px}
.elfinder-cwd input{width:100%;border:0 solid;margin:0;padding:0}
.elfinder-cwd-view-icons input,.elfinder-cwd-view-icons{text-align:center}
.elfinder-cwd table{width:100%;border-collapse:collapse;border:0 solid;margin:0 0 10px}
.elfinder .elfinder-cwd table thead tr{border-left:0 solid;border-top:0 solid;border-right:0 solid}
.elfinder .elfinder-cwd table thead td{font-size:.9em}
.elfinder .elfinder-cwd table td{padding:3px 12px;white-space:pre;overflow:hidden;text-align:right;cursor:default;border:0 solid}
.elfinder-ltr .elfinder-cwd table td{text-align:right}
.elfinder-ltr .elfinder-cwd table td:first-child{text-align:left}
.elfinder-rtl .elfinder-cwd table td{text-align:left}
.elfinder-rtl .elfinder-cwd table td:first-child{text-align:right}
.elfinder-odd-row{background:#eee}
.elfinder-cwd-view-list .elfinder-cwd-file-wrapper{width:97%;position:relative}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-file-wrapper{padding-left:23px}
.elfinder-rtl .elfinder-cwd-view-list .elfinder-cwd-file-wrapper{padding-right:23px}
.elfinder-cwd-view-list .elfinder-perms,.elfinder-cwd-view-list .elfinder-symlink{top:50%;margin-top:-6px}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-perms{left:7px}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-symlink{left:-7px}
.elfinder-cwd-view-list td .elfinder-cwd-icon{width:16px;height:16px;position:absolute;top:50%;margin-top:-8px;background-image:url(../img/icons-small.png)}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-icon{left:0}
.elfinder-rtl .elfinder-cwd-view-list .elfinder-cwd-icon{right:0}

/*.std42-dialog{padding:0}*/
.std42-dialog .ui-dialog-titlebar{ height: 40px; padding: 0 14px; line-height: 40px;}
.std42-dialog .ui-dialog-titlebar-close,.std42-dialog .ui-dialog-titlebar-close:hover{padding:1px}
.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar{text-align:right}
.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{right:auto;left:.3em}
.std42-dialog .ui-dialog-content{ padding-top: 16px; }
.elfinder-dialog .ui-resizable-e,.elfinder-dialog .ui-resizable-s{width:0;height:0}
.std42-dialog .ui-button input{cursor:pointer}
.elfinder-dialog-icon{display: none;}
.elfinder-rtl .elfinder-dialog-icon{left:auto;right:12px}
.elfinder-dialog-error .ui-dialog-content,.elfinder-dialog-confirm .ui-dialog-content{padding-left:65px;}
.elfinder-rtl .elfinder-dialog-error .ui-dialog-content,.elfinder-rtl .elfinder-dialog-confirm .ui-dialog-content{padding-left:0;padding-right:56px}
.elfinder-dialog-notify .ui-dialog-titlebar-close{display:none}
.elfinder-dialog-notify .ui-dialog-content{padding:0}
.elfinder-notify{border-bottom:1px solid #ccc;position:relative;padding:.5em;text-align:center;overflow:hidden}
.elfinder-ltr .elfinder-notify{padding-left:30px}
.elfinder-rtl .elfinder-notify{padding-right:30px}
.elfinder-notify:last-child{border:0 solid}
.elfinder-notify-progressbar{width:180px;height:8px;border:1px solid #aaa;background:#f5f5f5;margin:5px auto;overflow:hidden}
.elfinder-notify-progress{width:100%;height:8px;background:url(../img/progress.gif) center center repeat-x}
.elfinder-notify-progressbar,.elfinder-notify-progress{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.elfinder-dialog-icon-open,.elfinder-dialog-icon-file,.elfinder-dialog-icon-reload{background-position:0 -225px}
.elfinder-dialog-icon-mkdir{background-position:0 -64px}
.elfinder-dialog-icon-mkfile{background-position:0 -96px}
.elfinder-dialog-icon-copy,.elfinder-dialog-icon-prepare,.elfinder-dialog-icon-move{background-position:0 -128px}
.elfinder-dialog-icon-upload{background-position:0 -160px}
.elfinder-dialog-icon-rm{background-position:0 -192px}
.elfinder-dialog-icon-download{background-position:0 -260px}
.elfinder-dialog-icon-save{background-position:0 -295px}
.elfinder-dialog-icon-rename{background-position:0 -330px}
.elfinder-dialog-icon-archive,.elfinder-dialog-icon-extract{background-position:0 -365px}
.elfinder-dialog-icon-search{background-position:0 -402px}
.elfinder-dialog-confirm-applyall{padding-top:3px}
.elfinder-dialog-confirm .elfinder-dialog-icon{background-position:0 -32px}
.elfinder-info-title .elfinder-cwd-icon{float:left;width:48px;height:48px;margin-right:1em}
.elfinder-info-title strong{display:block;padding:.3em 0 .5em}
.elfinder-info-tb{min-width:200px;border:0 solid;margin:1em .2em;font-size:.9em}
.elfinder-info-tb td{white-space:nowrap;padding:2px}
.elfinder-info-tb tr td:first-child{text-align:right}
.elfinder-info-tb span{float:left}
.elfinder-info-tb a{outline:none;text-decoration:underline}
.elfinder-info-tb a:hover{text-decoration:none}
.elfinder-info-spinner{width:14px;height:14px;float:left;background:url("../image/elfinder/spinner-mini.gif") center center no-repeat;margin:0 5px}
.elfinder-upload-dropbox{font-size:1.2em;text-align:center;padding:2em 0;border:3px dashed #aaa}
.elfinder-upload-dropbox.ui-state-hover{background:#dfdfdf;border:3px dashed #555}
.elfinder-upload-dialog-or{font-size:1.2em;margin:.3em 0;text-align:center}
.elfinder-upload-dialog-wrapper{text-align:center}
.elfinder-upload-dialog-wrapper .ui-button{position:relative;overflow:hidden}
.elfinder-upload-dialog-wrapper .ui-button form{position:absolute;right:0;top:0;opacity:0;filter:Alpha(Opacity=0)}
.elfinder-upload-dialog-wrapper .ui-button form input{padding:0 20px;font-size:3em}
.dialogelfinder .dialogelfinder-drag{border-left:0 solid;border-top:0 solid;border-right:0 solid;font-weight:400;font-size:.9em;padding:2px 12px;cursor:move;position:relative;text-align:left}
.elfinder-rtl .dialogelfinder-drag{text-align:right}
.dialogelfinder-drag-close{position:absolute;top:50%;margin-top:-8px}
.elfinder-ltr .dialogelfinder-drag-close{right:12px}
.elfinder-rtl .dialogelfinder-drag-close{left:12px}
.elfinder .elfinder-navbar{width:230px;padding:5px;font-size: 11px;background-image:none;border-top:0 solid;border-bottom:0 solid;overflow:auto;display:none;position:relative;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none}
.elfinder-ltr .elfinder-navbar{float:left;border-left:0 solid}
.elfinder-rtl .elfinder-navbar{float:right;border-right:0 solid}
.elfinder-ltr .ui-resizable-e{margin-left:10px}
.elfinder-tree{display:table;width:100%;margin:0 0 .5em}
.elfinder-navbar-dir{position:relative;display:block;white-space:nowrap;padding:3px 12px;margin:0;outline:0 solid;border:1px solid transparent;cursor:default}
.elfinder-ltr .elfinder-navbar-dir{padding-left:35px}
.elfinder-rtl .elfinder-navbar-dir{padding-right:35px}
.elfinder-navbar-arrow{width:12px;height:14px;position:absolute;display:none;top:50%;margin-top:-8px;background-image:url("../image/elfinder/arrows-normal.png");background-repeat:no-repeat}
.ui-state-active .elfinder-navbar-arrow{background-image:url("../image/elfinder/arrows-active.png")}
.elfinder-navbar-collapsed .elfinder-navbar-arrow{display:block}
.elfinder-ltr .elfinder-navbar-collapsed .elfinder-navbar-arrow{background-position:0 5px;left:0}
.elfinder-rtl .elfinder-navbar-collapsed .elfinder-navbar-arrow{background-position:0 -10px;right:0}
.elfinder-ltr .elfinder-navbar-expanded .elfinder-navbar-arrow,.elfinder-rtl .elfinder-navbar-expanded .elfinder-navbar-arrow{background-position:0 -21px}
.elfinder-navbar-icon{width:16px;height:16px;position:absolute;top:50%;margin-top:-8px;background-image:url("../image/elfinder/toolbar.png");background-repeat:no-repeat;background-position:0 -16px}
.elfinder-ltr .elfinder-navbar-icon{left:14px}
.elfinder-rtl .elfinder-navbar-icon{right:14px}
.elfinder-tree .elfinder-navbar-root .elfinder-navbar-icon{background-position:0 0}
.elfinder-places .elfinder-navbar-root .elfinder-navbar-icon{background-position:0 -48px}
.ui-state-active .elfinder-navbar-icon,.elfinder-droppable-active .elfinder-navbar-icon,.ui-state-hover .elfinder-navbar-icon{background-position:0 -32px}
.elfinder-navbar-subtree{display:none}
.elfinder-ltr .elfinder-navbar-subtree{margin-left:12px}
.elfinder-rtl .elfinder-navbar-subtree{margin-right:12px}
.elfinder-navbar-spinner{width:14px;height:14px;position:absolute;display:block;top:50%;margin-top:-7px;background:url("../image/elfinder/spinner-mini.gif") center center no-repeat}
.elfinder-ltr .elfinder-navbar-spinner{left:0;margin-left:-2px}
.elfinder-rtl .elfinder-navbar-spinner{right:0;margin-right:-2px}
.elfinder-navbar .elfinder-perms{top:50%;margin-top:-8px}
.elfinder-ltr .elfinder-navbar .elfinder-perms{left:18px}
.elfinder-rtl .elfinder-navbar .elfinder-perms{right:18px}
.elfinder-ltr .elfinder-navbar .elfinder-symlink{left:8px}
.elfinder-rtl .elfinder-navbar .elfinder-symlink{right:8px}
.elfinder-navbar .ui-resizable-handle{width:12px;background:url('../image/elfinder/resize.png') center center no-repeat;left:0}
.elfinder-nav-handle-icon{position:absolute;top:50%;margin:-8px 2px 0;opacity:.5;filter:Alpha(Opacity=50)}
.elfinder-places{border:1px solid transparent}
.elfinder-places.elfinder-droppable-active{border:1px solid #8cafed}
.elfinder-place-drag .elfinder-navbar-dir{font-size:.9em}
.elfinder-quicklook{position:absolute;background:url("../image/elfinder/quicklook-bg.png");display:none;overflow:hidden;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;padding:20px 0 40px}
.elfinder-quicklook .ui-resizable-se{width:14px;height:14px;right:5px;bottom:3px;background:url("../image/elfinder/toolbar.png") 0 -496px no-repeat}
.elfinder-quicklook-fullscreen{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-webkit-background-clip:padding-box;padding:0;background:#000;z-index:90000;display:block}
.elfinder-quicklook-fullscreen .elfinder-quicklook-titlebar{display:none}
.elfinder-quicklook-fullscreen .elfinder-quicklook-preview{border:0 solid}
.elfinder-quicklook-titlebar{text-align:center;background:#777;position:absolute;left:0;top:0;width:100%;height:20px;-moz-border-radius-topleft:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;-moz-border-radius-topright:7px;-webkit-border-top-right-radius:7px;border-top-right-radius:7px;cursor:move}
.elfinder-quicklook-title{font-size:.7em;color:#fff;white-space:nowrap;overflow:hidden;padding:2px 0}
.elfinder-quicklook-titlebar .ui-icon{position:absolute;left:4px;top:50%;margin-top:-8px;width:16px;height:16px;cursor:default}
.elfinder-quicklook-preview{overflow:hidden;position:relative;border:0 solid;border-left:1px solid transparent;border-right:1px solid transparent;height:100%}
.elfinder-quicklook-info-wrapper{position:absolute;width:100%;left:0;top:50%;margin-top:-50px}
.elfinder-quicklook-info{padding:0 12px 0 112px}
.elfinder-quicklook-info .elfinder-quicklook-info-data:first-child{color:#fff;font-weight:700;padding-bottom:.5em}
.elfinder-quicklook-info-data{font-size:.72em;padding-bottom:.2em;color:#fff}
.elfinder-quicklook .elfinder-cwd-icon{position:absolute;left:32px;top:50%;margin-top:-20px}
.elfinder-quicklook-preview img{display:block;margin:0 auto}
.elfinder-quicklook-navbar{position:absolute;left:50%;bottom:4px;width:140px;height:32px;padding:0;margin-left:-70px;border:1px solid transparent;border-radius:19px;-moz-border-radius:19px;-webkit-border-radius:19px}
.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar{width:188px;margin-left:-94px;padding:5px;border:1px solid #eee;background:#000}
.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-icon-close,.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-separator{display:inline}
.elfinder-quicklook-navbar-icon{width:32px;height:32px;margin:0 7px;float:left;background:url("../image/elfinder/quicklook-icons.png") 0 0 no-repeat}
.elfinder-quicklook-navbar-icon-fullscreen{background-position:0 -64px}
.elfinder-quicklook-navbar-icon-fullscreen-off{background-position:0 -96px}
.elfinder-quicklook-navbar-icon-prev{background-position:0 0}
.elfinder-quicklook-navbar-icon-next{background-position:0 -32px}
.elfinder-quicklook-navbar-icon-close{background-position:0 -128px;display:none}
.elfinder-quicklook-navbar-separator{width:1px;height:32px;float:left;border-left:1px solid #fff;display:none}
.elfinder-quicklook-preview-text-wrapper{width:100%;height:100%;background:#fff;color:#222;font-size:.9em;overflow:auto}
pre.elfinder-quicklook-preview-text{margin:0;padding:3px 9px}
.elfinder-quicklook-preview-html,.elfinder-quicklook-preview-pdf{width:100%;height:100%;background:#fff;border:0 solid;margin:0}
.elfinder-quicklook-preview-flash{width:100%;height:100%}
.elfinder-quicklook-preview-audio{width:100%;position:absolute;bottom:0;left:0}
embed.elfinder-quicklook-preview-audio{height:30px;background:0 0}
.elfinder-quicklook-preview-video{width:100%;height:100%}
.elfinder-statusbar{ text-align: center; font-weight: 400; padding: 0 12px; height: 28px; border-right: 0 solid  transparent; border-bottom: 0 solid  transparent; border-left: 0 solid  transparent; border-top: 1px solid  #D5D5D5; line-height: 28px; } 
.elfinder-statusbar a{text-decoration:none}
.elfinder-statusbar div{font-size: 11px;}
.elfinder-path{max-width:30%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.elfinder-ltr .elfinder-path{float:left}
.elfinder-rtl .elfinder-path{float:right}
.elfinder-stat-size{white-space:nowrap}
.elfinder-ltr .elfinder-stat-size{float:right}
.elfinder-rtl .elfinder-stat-size{float:left}
.elfinder-stat-selected{white-space:nowrap;overflow:hidden}
.elfinder-toolbar{ padding: 4px 7px; margin: 0; list-style: none; background: #f8f8f8; display: inline-block; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.elfinder-toolbar .ui-widget-content { box-shadow: none; }
.elfinder-buttonset{margin:1px 4px;float:left;background:0 0;padding:0;}
.elfinder .elfinder-button{width:16px;height:16px;margin:0;padding:4px;float:left;overflow:hidden;position:relative;border:0 solid}
.elfinder .ui-icon-search{cursor:pointer}
.elfinder-toolbar-button-separator{float:left;padding:0;height:24px;border-top:0 solid;border-right:0 solid;border-bottom:0 solid;width:0}
.elfinder .elfinder-button.ui-state-disabled{opacity:1;filter:Alpha(Opacity=100)}
.elfinder .elfinder-button.ui-state-disabled .elfinder-button-icon{opacity:.4;filter:Alpha(Opacity=40)}
.elfinder-rtl .elfinder-buttonset{float:right}
.elfinder-button-icon{width:16px;height:16px;display:block;background:url('../image/elfinder/toolbar.png') no-repeat}
.elfinder-button-icon-home{background-position:0 0}
.elfinder-button-icon-back{background-position:0 -112px}
.elfinder-button-icon-forward{background-position:0 -128px}
.elfinder-button-icon-up{background-position:0 -144px}
.elfinder-button-icon-reload{background-position:0 -160px}
.elfinder-button-icon-open{background-position:0 -176px}
.elfinder-button-icon-mkdir{background-position:0 -192px}
.elfinder-button-icon-mkfile{background-position:0 -208px}
.elfinder-button-icon-rm{background-position:0 -224px}
.elfinder-button-icon-copy{background-position:0 -240px}
.elfinder-button-icon-cut{background-position:0 -256px}
.elfinder-button-icon-paste{background-position:0 -272px}
.elfinder-button-icon-getfile{background-position:0 -288px}
.elfinder-button-icon-duplicate{background-position:0 -304px}
.elfinder-button-icon-rename{background-position:0 -320px}
.elfinder-button-icon-edit{background-position:0 -336px}
.elfinder-button-icon-quicklook{background-position:0 -352px}
.elfinder-button-icon-upload{background-position:0 -368px}
.elfinder-button-icon-download{background-position:0 -384px}
.elfinder-button-icon-info{background-position:0 -400px}
.elfinder-button-icon-extract{background-position:0 -416px}
.elfinder-button-icon-archive{background-position:0 -432px}
.elfinder-button-icon-view{background-position:0 -448px}
.elfinder-button-icon-view-list{background-position:0 -464px}
.elfinder-button-icon-help{background-position:0 -480px}
.elfinder-button-icon-resize{background-position:0 -512px}
.elfinder-button-icon-search{background-position:0 -561px}
.elfinder-button-icon-sort{background-position:0 -577px}
.elfinder-button-icon-rotate-r{background-position:0 -625px}
.elfinder-button-icon-rotate-l{background-position:0 -641px}
.elfinder .elfinder-menubutton{overflow:visible}
.elfinder-button-menu{position:absolute;left:0;top:29px;padding:3px 0; background: #FAFAFA; border: 1px solid #DDD;}
.elfinder-button-menu-item{white-space:nowrap;font-size:.72em;cursor:default;padding:5px 19px;position:relative}
.elfinder-button-menu .ui-state-hover{border:0 solid}
.elfinder-menu-item-sort-dir{width:16px;height:16px;position:absolute;left:2px;top:50%;margin-top:-8px;background:url("../image/elfinder/toolbar.png") 0 -594px no-repeat;display:none}
.elfinder-button-menu-item-selected .elfinder-menu-item-sort-dir{display:block}
.elfinder-menu-item-sort-desc .elfinder-menu-item-sort-dir{background-position:0 -608px}
.elfinder-button form{position:absolute;top:0;right:0;opacity:0;filter:Alpha(Opacity=0);cursor:pointer}
.elfinder .elfinder-button form input{background:0 0;cursor:default}
.elfinder .elfinder-button-search{border:0 solid;background:0 0;padding:0;margin:1px 4px;height:auto;min-height:26px;float:right;width:162px}
.elfinder-ltr .elfinder-button-search{float: none; margin-right: 10px; position: absolute; right: -4px; top: -35px;}
.elfinder-rtl .elfinder-button-search{float:left;margin-left:10px}
.elfinder-button-search input{ width:160px; height: 26px; padding: 5px 8px;font-size: 11px; border:1px solid #d5d5d5;outline:0 solid; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.elfinder-rtl .elfinder-button-search input{direction:rtl}
.elfinder-button-search .ui-icon{position:absolute;height:18px;top:50%;margin:-9px 4px 0;opacity:.3;filter:Alpha(Opacity=30)}
.elfinder-ltr .elfinder-button-search .ui-icon-search{left:0}
.elfinder-rtl .elfinder-button-search .ui-icon-search,.elfinder-ltr .elfinder-button-search .ui-icon-close{right:0}
.elfinder-rtl .elfinder-button-search .ui-icon-close{left:0}


/* navbar */
.elfinder .elfinder-navbar { background:#fcfcfc; }
.elfinder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.elfinder-navbar .ui-state-active { background: #3875d7;    border-color:#3875d7; color:#fff; }
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #dadada; border-color:#ccc; color:#fff; }


/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background:#ccc; }
/* list view*/
.elfinder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.elfinder-cwd table tr { border-top:1px solid #fff; }

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}

/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}
.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../image/elfinder/arrows-active.png'); }

