/* ========================================================
*
* Amsterdam - premium admin template
*
* ========================================================
*
* File: ui_custom.css;
* Description: Custom jQuery UI stylesheet
* Version: 1.0
*
* ======================================================== */


/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; visibility: hidden; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Component containers
----------------------------------*/
.ui-widget { font-size: 12px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 11px; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { font-weight: bold; }
.ui-widget-header a { color: #222222; }


/* Interaction states
----------------------------------*/
th.ui-state-default:first-child { border-left: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #797979; text-decoration: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #797979; text-decoration: none; }
.ui-widget :active { outline: none; }


/* ===== UI Slider ===== */

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 16px; height: 16px; cursor: default; background: url(../images/elements/ui/handle.png) no-repeat; border: none; cursor: pointer; }
.ui-slider .ui-slider-handle:hover { background-position: 0 -16px; }
.ui-slider .ui-slider-handle:active { background-position: 0 -32px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; height: 6px; font-size: .7em; display: block; border: 1px solid #5ba8e1; box-shadow: 0 1px 0 #aad6f6 inset;  -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background: #9bcff5; background: -moz-linear-gradient(top,  #9bcff5 0%, #84c4f3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bcff5), color-stop(100%,#84c4f3)); background: -webkit-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -o-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -ms-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-slider-horizontal { height: 4px; background: #eee; border: 1px solid #d5d5d5; box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; -webkit-box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; -moz-box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; margin: 8px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.ui-slider-horizontal .ui-slider-handle { top: -6px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: -1px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { height: 100px; width: 4px; background: #eee; box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; -webkit-box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; -moz-box-shadow: 0 1px 0 white, 0 1px 0 #E5E5E5 inset; border: 1px solid #d5d5d5; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;  }
.ui-slider-vertical .ui-slider-handle { left: -6px; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: -1px; width: 4px; background: #9bcff5; background: -moz-linear-gradient(top,  #9bcff5 0%, #84c4f3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bcff5), color-stop(100%,#84c4f3)); background: -webkit-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -o-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -ms-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
#eq span { height: 120px; float: left; margin-right: 30px; display: block; }
.slider-tip { opacity:1; bottom:120%; margin-left: -1.36em; }



/* ===== UI Datepicker ===== */

.no-append .ui-datepicker-append { display: none; }
.ui-datepicker-append { margin-left: 14px; font-size: 11px; line-height: 26px; }
.ui-datepicker { width: 195px; background: #fafafa; display: none; border: 1px solid #CDCDCD; z-index: 99!important; }
.ui-datepicker-inline { width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.datepicker-fixed { width: 195px; }
.datepicker-liquid { width: 100%; }
#sidebar .ui-datepicker-inline, .widget .ui-datepicker-inline { margin-top: 0; }
.formRow .ui-datepicker-inline { width: 195px; }
.ui-datepicker .ui-datepicker-header { position:relative; padding: 8px 0 7px 0; border:0px; font-weight: bold; font-size: 11px; width: 100%; color: #636363; text-shadow: 0 1px white; border-bottom: 1px solid #CDCDCD; border-radius: 0!important; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; 
	background: #f2f2f2; 
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); 
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); 
	background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%); }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 9px; width: 1.8em; height: 1.8em; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { background: none; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:7px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; width: 6px; cursor: pointer; height: 9px; position: absolute; left: 50%; top: 4px; background: url(../image/elements/ui/dateArrows.png) no-repeat 0; }
.ui-datepicker .ui-datepicker-prev span { background-position: 0 0; }
.ui-datepicker .ui-datepicker-next span { background-position: -8px 0; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px 1px 0 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 7px 2px 6px 2px; text-align: right; text-decoration: none; line-height: 13px; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; border-left: 1px solid #cdcdcd; margin-left: -1px; }
.ui-datepicker-multi .ui-datepicker-group:first-child { border-left: none; margin-left: 0; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker th { font-weight: bold; color: gray; }
.ui-datepicker-today a:hover{ background-color: #808080; color: #ffffff; }
.ui-datepicker-today > a { background:#67919d; margin-bottom:0px; font-size:normal; text-shadow: 0px; color: white;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ui-datepicker td a{ margin-bottom:0px; border:0px; }
.ui-datepicker td:hover{ color:white; }
.ui-datepicker td .ui-state-default { border:0px; margin-bottom:0px; text-align: center; filter:none; }
.ui-datepicker td .ui-state-active{ background:#67859d; margin-bottom:0px; font-size:normal; text-shadow: 0px; color:white;   -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ui-datepicker td .ui-state-default:hover{ background:#476981; color:white; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background: none; }
.date-trigger { display: inline-block; position: relative; }
.date-trigger .ui-datepicker-trigger { position: absolute; top: 6px; margin-left: 6px; cursor: pointer; }



.sidebar .ui-datepicker { background: url(../images/backgrounds/opacity.png); box-shadow: 0 1px 1px #606060, 0 1px 1px #2a2a2a inset; border-radius: 3px;padding: 1px; border: none; }
.sidebar .ui-datepicker-header { background: url(../images/backgrounds/opacity2.png); color: whiteSmoke; text-shadow: none; border-bottom: 1px solid #444; box-shadow: none; }
.sidebar .ui-datepicker th { color: #999; }
.sidebar .ui-widget-content a { color: #eee; }
.sidebar .ui-state-disabled, .sidebar .ui-widget-content .ui-state-disabled, .sidebar .ui-widget-header .ui-state-disabled { color: #fff; }
.sidebar .ui-datepicker td .ui-state-active { font-weight: bold; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background: url(../images/elements/ui/progress_overlay.png), -webkit-linear-gradient(top, #AAD15F, #7EA437); }
.sidebar .ui-datepicker td.ui-datepicker-today > .ui-state-highlight { font-weight: bold; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background: url(../images/elements/ui/progress_overlay.png), -webkit-linear-gradient(top, #EC795D, #D1573A); }
.sidebar .ui-datepicker td .ui-state-default:hover { background-color: #7EA437; }



/* ===== UI autocomplete ===== */

.ui-autocomplete { position: absolute; display: none; padding: 0; z-index: 100!important; border: 1px solid #d5d5d5; border-top: none; max-height: 185px; overflow: auto; }	
.ui-autocomplete .ui-state-hover { background: none; padding: 6px 10px 7px 32px; }
* html .ui-autocomplete { width:1px; }
.ui-menu { display: block; float: left; }
.ui-menu .ui-menu-item { margin:0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; border-bottom: 1px solid #eaeaea; border-top: 1px solid #fff; background: #fafafa; }
.ui-menu .ui-menu-item a { text-decoration:none; display:block; padding: 6px 10px 7px 10px; color: #5f5f5f; line-height:1.5; zoom:1; font-size: 11px; cursor: pointer; }
.ui-menu .ui-menu-item a.ui-state-focus { background-color: #f5f5f5; }
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal;  }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }



/* ===== Spinner ===== */

.ui-spinner { position: relative; display: inline-block; overflow: hidden; padding: 0; vertical-align: middle; border: none; box-shadow: none; }
.ui-spinner > input[type=text] { padding: 7px 22px 7px 8px; box-sizing: border-box; }
.ui-spinner-disabled { background: #F4F4F4; color: #CCC; }
.ui-spinner input.ui-spinner-box { border: none!important; background: none!important; padding: 0!important; height: 26px; }
.ui-spinner-up, .ui-spinner-down { width: 18px; padding: 0; margin: 0; z-index: 100; position: absolute; right: 1px; cursor: pointer; border: none; }
.ui-spinner-up { background: url(../images/elements/forms/spinner-top.png) no-repeat; height: 15px; top: 0; }
.ui-spinner-down { height: 15px; bottom: 0; background: url(../images/elements/forms/spinner-bottom.png) no-repeat; }
.ui-spinner-list, .ui-spinner-listitem { margin: 0; padding: 0; }
.ui-spinner ul li, .ui-spinner-data { line-height: 26px; height: 26px; }
.ui-spinner-input { border: none; box-shadow: none; }



/* ===== UI Dialog ===== */

.ui-dialog { position: absolute; padding: 3px; width: auto; background: #808080; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.ui-dialog input[type=text], .ui-dialog input[type=password], .ui-dialog textarea { font-size: 11px; padding: 6px 5px; background: white; border: 1px solid #DDD; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #f4f4f4; color: #656565; width: 100%; margin: 10px auto; display: block; box-sizing: border-box; }
.ui-dialog form {  }
.ui-dialog form label { float: left; cursor: pointer; margin-bottom: 3px; }
.dialogSelect label { margin: 4px 15px 0 0; }
.customDialog { padding: 0!important; }
.ui-dialog .icon { padding: 1px 6px 0 0; float: left; }
.ui-dialog .titleIcon { position: absolute; top: -10px; }
.ui-dialog p { padding: 0!important; }
.ui-dialog .ui-dialog-titlebar { position: relative; border-bottom: 1px solid #CDCDCD; box-shadow: 0 1px 0 #fff; text-shadow: 0 1px white;  background: #f8f8f8; background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8)); background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 ); }
.ui-dialog .ui-dialog-title { height: 40px; padding: 0 14px; line-height: 40px; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 6px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; opacity: 0.6; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 1px; background: #fafafa; }
.ui-dialog .ui-dialog-content { position: relative; overflow: auto; zoom: 1; padding: 10px 12px; background: #f5f5f5; clear: both; }
.ui-dialog .ui-dialog-buttonpane { padding: 0 12px; font-size: .9em; border-top: 1px solid #cdcdcd; padding: 10px 0; text-shadow: 0 1px white;  background: #f8f8f8; background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8)); background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 ); }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { text-align: right; margin: 0 4px; }
.ui-dialog .ui-dialog-buttonpane button { font-size: 11px; color: #fff; font-weight: bold; text-shadow: 0 -1px #6f6f6f; display: inline-block; line-height: 14px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; padding: 7px 16px; margin: 0 5px; border: 1px solid #3e76af; box-shadow: 0 1px 2px 0 #66b2d2 inset; background: #5ba5cb; background: -moz-linear-gradient(top,  #5ba5cb 0%, #3a70ab 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab)); background: -webkit-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%); background: -o-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%); background: -ms-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%); background: linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba5cb', endColorstr='#3a70ab',GradientType=0 ); }
.ui-dialog .ui-dialog-buttonpane button:hover { opacity: 0.95; -webkit-transition: opacity 0.2s ease-in-out; }
.ui-dialog .ui-dialog-buttonpane button:active { background: #4786b8; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 5px; bottom: 5px; opacity: 0.3; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30; filter: Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }


